# Obsidian workspace
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/workspace*.json

# Корзина Obsidian
.trash/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Node (если используется)
node_modules/

# Большие медиа (опционально, если Git LFS)
# media/**/*.tiff
# media/**/*.psd


# ai
/.agents
/.claude
/.kilocode
