# Obsidian workspace
vault/.obsidian/workspace.json
vault/.obsidian/workspace-mobile.json
vault/.obsidian/workspace*.json

# Корзина Obsidian
.trash/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Node
node_modules/

# Angular
/dist
/tmp
/out-tsc
/.angular/cache
/coverage
.sass-cache/

# Большие медиа (опционально, если Git LFS)
# media/**/*.tiff
# media/**/*.psd


# ai
/.agents
/.claude
/.kilocode

.nx/cache
.nx/workspace-data